@{
    ViewData["Title"] = "Profile";
}
 
<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"> @ViewData["Title"]</h1>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6 offset-6 my-3">
		<div class="mb-4">

			<div asp-validation-summary="All" class="text-danger small"></div>

		</div>
	</div>
	<div class="col-6">
		
		<form method="post" asp-action="ProfileChangeFullImage" enctype="multipart/form-data">
			<div class="text-center mb-3">

				<img src="~/uploads/@ViewData["ProfilImage"]" width="128" class="img-thumbnail rounded-circle" />
			</div>
			<div class="form-group mb-3">
				<label class="form-label small">Profil İmage</label>
				<input type="file" name="file" class="form-control" accept=".jpg" />
				<div class="text-center mt-3">
					<button class="btn btn-secondary " type="submit"><i class="fa-solid fa-floppy-disk me-2 "></i>save</button>
				</div>
				</div>

		</form>
	</div>
    
    
    
    

  <div class="col-6">
        <form method="post" asp-action="ProfileChangeFullName">
            <div class="form-group">
                <label class="form-label small">Name Surname</label>
                <div class="input-group mb-3">
                    <input name="fullname" type="text" class="form-control" placeholder="Username" value="@ViewData["NameSurname"]">
                    <button class="btn btn-secondary" type="submit">Save</button>
                </div>

            </div>


        </form>
        <form method="post" asp-action="ProfileChangePassword">
            <div class="form-group">
                <label class="form-label small">New Password</label>
                <div class="input-group mb-3">
                    <input name="password" type="password" class="form-control" placeholder="Password">
                    <button class="btn btn-secondary" type="submit">Save</button>
                </div>
                @if(ViewData["Result"] != null && ViewData["result"] == "PasswordChanged")
                {
                    <span class="text-succes small">Password Updated.</span>
                }
            </div>
           


        </form>

    </div>
</div>